  <div class="container">
    <div class="row">
      <div class='col-md-12'>
            <% unless @customers.present? %>
              <h1><%#= @customer.nickname %>さんのフォロワーはいません。</h1>
            <% else %>
              <h1>Follower User</h1>
              <%= render 'follow',customers: @customers %>
            <% end %>
      </div>
    </div>
    <%#= paginate @customers %>
  </div>