
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>
        <h2>いいねした情報ソース一覧</h2><%= link_to '戻る', 'javascript:history.back()' %>
      <%= render 'public/sources/index',sources: @sources %>
    </div>
  </div>
</div>

