<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>
      <% if params[:model] == "customer" %>
          <%= render 'public/customers/index', customers: @customers %>
      <% else %>
          <%= render 'public/sources/index', sources: @sources %>
      <% end %>
    </div>
  </div>
</div>