<script>
　window.onload = function () {
　　alert("javascript test");
　};
</script>

<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">ようこそ SourceReviewへ</strong>!</h1>
    <div class="low">

  <p class="about-title">当サイトについて</p>

  <p class="about-text">当サイトは目的に対してのミスマッチを減らし、情報を探しやすくために創られた、情報ソースレビューサイトです。</p>

  <p class="about-text">会社員が「調べもの」に費やす時間は毎日1.6時間とも言われています<a href="https://it.impress.co.jp/articles/-/17720" target="_blank" rel="noopener noreferrer">（出典：オウケイウェイヴ総研）</a>。</p>
  
  <p class="about-text">調べるのが好きな人、新しいことに挑戦したいけど何から情報を得ればいいか分からない人が集まり共有する場所があれば良いと思い、<br>このサイトを立ち上げました。</p>
  <p class="about-text">調べるのが大好きな人と、新しいことに挑戦したい人との出逢いを待っている情報ソースとの架け橋になれば良いと願っています。</p><br>

  <p class="about-title">当サイトの使用方法</p>
  <p class="about-text">自分のアカウントを作成する</p>
  <p class="about-text">1.自分の好きな情報ソースを投稿して共有する</p>
  <p class="about-text">2.検索機能、並び替え機能を使用して、様々な情報ソースに出会う</p>
  <!--<p class="about-alert">※ログインが出来ないと情報ソースの検索とレビューの投稿は出来ないので先に済ませましょう</p>-->
  <%= link_to "Topページへ",root_path %>

</div>
  
  </div>
  
</div>