<script>
　window.onload = function () {
　　alert("javascript test");
　};
</script>

<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">ようこそ <i class="fab fa-internet-explorer"></i><i class="fab fa-sourcetree"></i>SourceReviewへ</strong>!</h1>
    <div class="low">

  <p class="about-title">当サイトについて</p>

  <p class="about-text">当サイトは目的に対してのミスマッチを減らし、情報を探しやすくために創られました。</p>

  <p class="about-text">今このページを見ている貴方は、新しい情報ソースに出会いたいと思ってるのではないでしょうか。</p>
  <p class="about-text">または、情報ソースを共有したいと思っている方ではあると思います。</p>
  <p class="about-text">調べるのが好きな人、新しいことに挑戦したいけど何から情報を得ればいいか分からない人が集まり共有する場所があれば良いと思い、このサイトを立ち上げました。</p>
  <p class="about-text">調べるのが大好きな貴方と、そんな貴方との出逢いを待っている情報ソースとの架け橋になれば良いと願っています。</p><br>

  <p class="about-title">情報ソースサイトの使用方法</p>
  <p class="about-text">自分のアカウントを作成する</p>
  <p class="about-text">1.自分の好きな情報ソースを投稿して共有する</p>
  <p class="about-text">2.検索機能を使用して、様々な情報ソースに出会う事</p>
  <p class="about-alert">※ログインが出来ないと情報ソースの検索とレビューの投稿は出来ないので先に済ませましょう</p>
  <%= link_to "Topページへ",root_path %>

</div>
  
  </div>
  
</div>