<div class="container">
    <div class='row justify-content-center mx-auto'>
        <div class="notice_box">
            <h4 class="text-center"><i class="fas fa-bell"></i>通知</h4>
            <p class="text-center">通知は30日間で自動的に削除されます。</p>
             <!--<p class="text-right"><i class="fas fa-trash"></i><%#= link_to "全削除",notice_path(@notices), method: :delete,class:"btn btn-light" %></p>-->
                <% notices = @notices.where.not(receive_id: current_customer.id) %>
        <% if @notices.exists? %>
            <%= render @notices %>
        <% else %>
            <p>通知はありません</p>
        <% end %>
　　　　</div>
 　　</div>
</div>


<style>
.notice_box {
    padding: 0.5em 2em 0.5em 1em;
    margin: 2em 0;
    background: #f0f7ff;
    border: dashed 2px #5b8bd0;/*点線*/
}

</style>

<!--/ 自分の投稿に対するいいね、コメントは通知に表示しない-->
