<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>投稿内容編集</h1>
  		<%= render 'form', source: @source %>
  		<%= link_to '詳細ページへ', @source, class: "source_#{@source.id}" %> |
  		<%= link_to '一覧ページへ', sources_path, class: "back" %>
  </div>
</div>