<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>
      
        <%#= render 'public/searches/form' %>
      
    </div>
  </div>
      
    
      <%= render 'index', sources: @sources%>
</div>